.container{
    width: 42px;
    height: 24px;
    border: 1.5px solid #163c6c;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.icon{
    font-size: 12px;
}
.ball{
    width: 15px;
    height: 15px;
    background-color: #163c6c;
    border-radius: 50%;
    position: absolute;
}