.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #bbb;
}
.button{
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(24, 60, 104);
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}